[user]
	name = Alec Ruth
	email = alec.ruth@nextworld.net
[alias]
  s = status
  co = checkout
  cob = checkout -b
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
  # Get the current branch name (not so useful in itself, but used in
  # other aliases)
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  # Push the current branch to the remote "origin", and set it to track
  # the upstream branch
  publish = "!git push -u origin $(git branch-name)"
  # Delete the remote version of the current branch
  unpublish = "!git push origin :$(git branch-name)"
  ad = difftool --tool=araxis --dir-diff
  ads = difftool --tool=araxis --dir-diff --staged
[diff]
  tool = araxis
[merge]
  tool = araxis
[difftool "araxis"]
	path = /Applications/Araxis Merge.app/Contents/Utilities/compare
[mergetool "araxis"]
	path = /Applications/Araxis Merge.app/Contents/Utilities/compare
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:~/SideProjects/"]
	path = ~/.gitconfig-personal
